.header{
    /* background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true'); */
    background-image: url('https://fastly.picsum.photos/id/544/1200/800.jpg?hmac=raCi8ewNN0Qkwt9JFB2ddnzyKfo6KbPFtUFNQ3ujKxA'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 152px 0;
    text-align: center;
}

.eng-title{
    font-size:28px;
}

.quote{
    border-radius: 12px;
    text-align: center;
}

.intro{
    width: 1076px;
    margin-right: -110px;
    margin-left: -110px;
}

.section-lined{
    border-bottom: 1px solid var(--neutral-300);
}

.history-desc{
    border-left: 1px solid var(--neutral-900);
    padding-left: 8px;
}

.history-list{
    list-style-type: disc;   
    padding-left: 24px;
}

.concept-item{
    padding-left: 12px;
    border-left: 1px solid var(--neutral-300);
}

.icon-bi{
    padding-right: 8px;
    vertical-align: bottom;
}

.footer{
    text-align: center;
}